#left-button {
	width:100px !important;
}

#right-button{
width:100px !important;
margin-left: 10.5cm;
}

h4 {
  font size: "4"
}

.startquestions{
 font-size: 120%;
}

.radio{
 font-size: 150%;
}

.trust1{
 font-size: 120%;
}

.sc1{
 font-size: 120%;
}

.trust2{
 font-size: 120%;
}

.sc2{
 font-size: 120%;
}

.trust3{
 font-size: 120%;
}

.sc3{
 font-size: 120%;
}

.trust4{
 font-size: 120%;
}

.sc4{
 font-size: 120%;
}

.radio4{
 font-size: 120%;
}

.radio5{
 font-size: 120%;
}